/venv
/.vscode
/.idea
/node_modules
/temp
/.cache
/credentials.json
/lfapi.txt
/main.sqbpro
/main.sqlite
/mainbank.json
/mongourl.txt
/perspectiveapis.txt
/profile.jpg
/profile.png
/progressbar.png
/spamdetect.txt
/test.py
/test.txt
/token.txt
/urbanapi.txt
/DJFlame/node_modules
/DJFlame/data
/Discord Bot/Website
/README.md
/DJFlame/settings.json
/DJFlame/package-lock.json
/DJFlame/package.json
/bro.png
/Discord Bot/Server Emojis
/Discord Bot/Server Captcha
/Discord Bot/CAH cards
/Discord Bot/Blacklist
/main.py
/praw.txt
/testbot.txt
/freenews.txt
/__pycache__
/cogs/__pycache__
/logs.txt
/errors.log
/modules/arial.ttf
/modules/arialbd.ttf
/modules/arialbi.ttf
/modules/ariali.ttf
/modules/ariblk.ttf
/modules/arialni
/cogs/dhruv.py
/client_secret_250731096823-mok0ejal5fqtj16vuh93l9qog29p2ba0.apps.googleusercontent.com.json
/cogs/token.json
/token.json
cogs/eastereggs.py